---
import PageFooter from '../components/PageFooter.astro';
import PageNav from '../components/PageNav.astro';
import '../styles/globals.css';
export interface Props {
  title: string;
}
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="og:site_name" content="lewisbarnes.dev" />
    <meta name="og:type" content="article" />
    <meta property="og:title" content={frontmatter.title} />
    <meta property="og:description" content={frontmatter.description} />
    <title>Lewis Barnes // Blog // {frontmatter.title}</title>
  </head>
  <body class="bg-zinc-800 font-inter flex flex-col min-h-screen">
    <PageNav client:load />
    <div class="mx-[10vw] main-content">
        <article class="markdown subpixel-antialiased xl:w-4/5 mx-auto">
					<div class="flex flex-col items-start mb-8">
						<h1 class="text-4xl">
							{frontmatter.title}
	
						</h1>
						<p class="justify-self-end text-[#FD107A]">{new Date(frontmatter.publishDate).toDateString()}</p>
					</div>
          <slot />
        </article>
    </div>
		<div class="flex-grow"></div>
		<PageFooter/>
  </body>
</html>
